# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

# Drizzle
DATABASE_URL=""

# Notion
OAUTH_CLIENT_ID= ""
OAUTH_CLIENT_SECRET= ""
NOTION_AUTH_URL= ""
OAUTH_REDIRECT_URI= ""

NOTION_TOKEN = ""

# Twilio 
TWILIO_ACCOUNT_SID = ""
TWILIO_AUTH_TOKEN = ""
SENDGRID_API_KEY = ""

# NGROK - for local development
NGROK_URL = ""
PYTHON_URL = ""

# Cloudflare
CLOUDFLARE_API_KEY = ""
CLOUDFLARE_ACCOUNT_ID = ""
